.image-card {
  height: 491px;
  .image {
    height: 491px;
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-weight: regular;
      line-height: 22px;
      margin-bottom: 30px;
      @include heading-font;
    }
    .intro-row {
      position: relative;
      display: inline-block;
    }
    .intro-heading {
      display: inline-block;
      font-size: 36px;
      font-weight: bold;
      line-height: 50px;
      margin-bottom: 12px;
      @include heading-font;
    }
    .intro-logo {
      overflow: hidden;
      height: auto;
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .image-card {
    height: 759px;
    .image {
      height: 759px;
    }
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 40px;
      }
      .intro-heading {
        font-size: 60px;
        // line-height: 75px;
        margin-bottom: 25px;
        @include heading-font;
      }
      .intro-logo {
        display: block;
        margin-top: -120px;
        translate: -130px 70px;
        width: 120px;
      }
    }
  }
}
