.image-card {
  height: 491px;
  .image {
    height: 491px;
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 25px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 36px;
      font-weight: normal;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  .image-card {
    height: 759px;
    .image {
      height: 759px;
    }
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        font-size: 50px;
        // line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
